/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

img,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

td:not([align]),
th:not([align]) {
  text-align: left; }

body {
  background: linear-gradient(#000B13, #00182D); }

.btn-launch {
  background-color: white; }

#loadingScreen {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(#000B13, #00182D);
  transition: all .5s ease;
  z-index: 100; }

#loadingScreen.active {
  visibility: visible;
  opacity: 1; }

#loadingScreen > p {
  position: absolute;
  top: 60vh;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  color: white; }

#ui.active {
  visibility: visible;
  opacity: 1; }

#ui {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 34vh;
  right: 0;
  left: 0;
  color: white;
  text-align: center;
  z-index: 10;
  transition: all 1s ease; }
  #ui .title {
    font-size: 2rem;
    width: 100%;
    text-align: center; }
  #ui .soundButtons {
    margin: 6vh auto;
    width: 300px;
    display: flex;
    justify-content: space-around; }
    #ui .soundButtons_off, #ui .soundButtons_on {
      padding: 4px 10px;
      border: solid 2px white;
      border-radius: 6px;
      cursor: pointer;
      transition: all .5s ease; }
      #ui .soundButtons_off:hover, #ui .soundButtons_on:hover {
        color: #00FFAF;
        border-color: #00FFAF; }

#rotateScreen {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  text-align: center;
  background: linear-gradient(#000B13, #00182D);
  z-index: 10000; }
  #rotateScreen .messages {
    padding: 20px;
    position: absolute;
    top: 30vh; }
    #rotateScreen .messages_en {
      font-size: 1.2rem; }
    #rotateScreen .messages_ja {
      margin-top: 20px;
      font-size: 0.8rem; }

#rotateScreen.active {
  display: block; }

#helpBtn {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 2vh;
  right: 2vh;
  color: white;
  border: solid 2px white;
  text-align: center;
  line-height: 36px;
  font-size: 1.2rem;
  border-radius: 6px;
  cursor: pointer; }

#helpModal.active {
  display: block; }

#helpModal {
  display: none;
  position: absolute;
  top: 15vh;
  margin: 0 auto;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  width: 500px;
  height: 65vh;
  color: white;
  padding: 5vh 20px;
  z-index: 100000;
  overflow: scroll; }
  #helpModal .desc > a {
    color: white; }
  #helpModal .info {
    margin-top: 5vh; }
