<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Drifting Stars | Ajitama
    link(rel="stylesheet" href="./style.css")
  body
    #stage
    #loadingScreen.active
      p LOADING...
    #ui.active
      h1.title Niagara Falls Fireworks
      p.msg Choose sound on/off to start.
      .soundButtons
        #btn-launch-sound-off.soundButtons_off SOUND OFF
        #btn-launch-sound-on.soundButtons_on SOUND ON
    script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/105/three.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.3/howler.core.min.js")
    script(src="./bundle.js")
